:root{

  --border-color-light: #f1f2f3;

  /* -------------------------------------------------layout-aside */
  --aside-collapse-width: 64px;
  --aside-expand-width: 220px;


  /* -------------------------------------------------layout-header */
  --header-height: 50px;
  --header-bg-color: #fff;
}
